@import url("./assets/font.css");
@import url("./assets/fontawesome/css/all.min.css");

// Colors
$smoke-grey: #f5f5f5;
$blue: #007bc1;

// Mixins Media Query
@mixin smallest {
  @media only screen and (max-width: 360px) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: 720px) {
    @content;
  }
}

@mixin mediumInBetween {
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    @content;
  }
}

// Remove default padding
* {
  margin: 0;
  padding: 0;
}

// Main Style
html {
  overflow: auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.85rem;

  body {
    min-height: 100vh;
    position: relative;
  }

  button {
    font-family: 'Quicksand', sans-serif;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
}

// Component Styling
header {
  height: 100vh;

  

  .hero {
    height: 100vh;
    background-image: linear-gradient(rgba(black, 0.7), rgba(black, 0.7)), url("./assets/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .nav-bar {
      background-color: transparent;
      color: black !important;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5em;   

      .nav-menu {
        font-size: 1.3em;
     
        a {
          padding: 10px 0.8em;
          color: white;
          text-decoration: none;
          width: 25%; /* Four links of equal widths */
          text-align: center;
  
          &:hover {
            transition: 0.5s;
            background-color: white;
            color: black;
            border-radius: 80px;
          }
        }
      }
  
      .brand {
        font-size: 30px;
        padding: 0 1em;
        text-decoration: none;
        color: white;
      }
    }

    &__text {
      height: 100%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 4em;
      top: -2em;

      h2 {
        font-weight: 200;
      }
    }

    &__button {
      color: white;
      background: transparent;
      padding: 1em;
      border: 1px solid white;
      border-radius: 4px;
      margin: 10px 0;
      font-size: 1.3em;
      cursor: pointer;

      &:hover {  
        background-color: white;
        color: black;
        border: 1px solid white;
        transition: 0.5s;
      }
    }
  }
}

main {
  max-width: 1280px;
  margin: auto;

  .products {
    padding-bottom: 2em;

    h1 {
      text-align: center;
      margin: 0.5em 0 1.5em 0;
    }

    &__card {
      display: flex;
      justify-content: space-around;
      margin-bottom: 2em;

      &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
  
        &:nth-child(even) {
          text-align: left;
        }

        .title {
          font-size: 2.3em;
          font-weight: 400;
          margin-bottom: 0.3em;
        }
  
        .description {
          font-size: 1.3em;
          line-height: 1.5em;
          margin-bottom: 1em;
        }

        .order {
          border-radius: 32px;
          padding: 1.3em;
          width: 120px;
          background-color: black;
          color: white;
          border: 1px solid black;
          cursor: pointer;

          &:hover {
            transition: 0.2s;
            box-shadow: 5px 5px darken($smoke-grey, 15%);
          }

          &:active {
            transform: translateY(1px);
            box-shadow: 1px 1px darken($smoke-grey, 15%);
          }
        }
      }

      &-image {
        border-radius: 16px;
        box-shadow: 0.5em 0.5em darken($smoke-grey, 10%);
        width: 30%;
        
        &:nth-child(odd) {
          margin-right: 2em;
        }
  
        &:nth-child(even) {
          margin-left: 2em;
        }
      }      
    }
  }

  .contactus {
    display: flex;
    margin: auto;
    padding: 2em 2.5em;
    height: 500px;
    background: lighten(black, 25%);
    color: white;
    border-radius: 32px;
    box-shadow: 5px 5px darken($smoke-grey, 15%);

    .title {
      font-size: 2.3em;
      font-weight: 400;
      margin-bottom: 0.3em;
    }

    .address {
      font-size: 1.3em;
      line-height: 1.2em;
      margin-bottom: 1em;

      &__country {
        margin-bottom: 10px;
        font-weight: 300;
      }
    }

    .description {
      font-size: 1.2em;
      line-height: 1.5em;
      margin-bottom: 1em;
      font-weight: 300;
      text-align: justify;
    }

    &__map { 
      height: 100%;
      width: 50%;
      margin-right: 2em;
    }

    &__text {
      max-width: 500px;
    }
  }

  .socialmedia {
    &__title {
      margin-bottom: 10px;
      font-weight: 300;
    }
  }
}

footer {
  background-color: white;
  padding: 2em 0;
  text-align: center;
}